
/* -------------------------------- 

buttons

-------------------------------- */
.bottomButtons{
  margin: auto;
  margin:2rem 0 .5rem 0;
  padding: 0 1rem;
  display:flex;
  justify-content: space-between;

  @include MQ(M){
    margin: auto;
    max-width: 80%;
    justify-content: space-around;
    
  }

  @include MQ(L){
    max-width: 60%;
  }
}
// large button styling
#task, #submit, #all, #active, #completed{
  margin: 0 .5rem;
  padding: 1rem;
  border-radius: 30px;
  text-transform: uppercase;
  letter-spacing: 2.1px;
  color: $color-darkest;
  background-color: #fff;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  flex: 1 1 auto;

}
#submit:hover, #task:hover, #all:hover, #active:hover, #completed:hover {
  background-color: $color-accent;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
}

// delete buton
.fa-trash{
  color:$color-light;
  font-size: .9rem;
  margin:.5rem;
  padding:.5rem;
  background-color: $color-darkest;
  border: none;
  border-radius: 30px;
}